{
  "presets": [
    "@babel/preset-env", 
    ["@babel/preset-react", {"runtime": "automatic"}],
    "@babel/preset-typescript"
  ],
  "plugins": [
      ["prismjs", {
        "languages": ["bash", "c", "cshtml", "cpp", "csharp", "css", "docker", "fsharp", "git", "html", "java", "javascript", "json", "jsx", "kotlin", "lua", "markdown", "markup", "python", "rust", "scala", "swift", "toml", "tsx", "typescript", "yaml"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
