export VITE_CHAT_API_KEY=Your_Chat_API_Key
export VITE_AUTH0_DOMAIN=Your_Auth0_Domain
export VITE_AUTH0_CLIENT_ID=Your_Auth0_Client_ID

export VITE_AUTH0_AUDIENCE=http://localhost:3001/dev/api/v1/
export VITE_AUTH0_CALLBACK_URL=http://localhost:3000/callback
export VITE_CHAT_API_BASE_URL=http://localhost:3001/dev/api/v1/
export VITE_SOCKET_URL=ws://localhost:4001
