.mic-pulse {
  position: fixed;
  bottom: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
  background: #00ffff;
  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.8;
  }
}