@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  color: #b3d1ff;
  background: #1e1e26;
}

.logo {
  font-family: 'Oxanium', cursive;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #00ffff;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  z-index: 99;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ff00ff;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ff00ff;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
