@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, 'Open Sans', sans-serif;
  color: #b3d1ff;
  background: linear-gradient(to top right, transparent 0%, rgba(74, 222, 128, 0.05) 100%);
  background-color: rgba(17, 24, 39, 1);
}

.logo {
  font-family: 'Oxanium', cursive;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #00ffff;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ff00ff;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ff00ff;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.dot {
  @apply w-2 h-2 my-4 mx-0.5 bg-gray-400 rounded-full;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(86,88,105,0.5);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
