export CHAT_API_KEY=Your_Chat_API_Key
export OPENAI_API_KEY=Your_OpenAI_API_Key
export POLLY_ACCESS_KEY_ID=Your_Amazon_Polly_ACCESS_KEY_ID
export POLLY_SECRET_ACCESS_KEY=Your_Amazon_Polly_SECRET_ACCESS_KEY
export BING_SEARCH_API_KEY=Your_Bing_Search_API_Key
export JWT_ISSUER_DOMAIN=Your_Auth0_Domain
export TEST_USER_ID=Your_Auth0_Test_User_ID

export CODE_INTERPRETER_FUNCTION_NAME=function
export JWT_AUDIENCE=http://localhost:3001/dev/api/v1/
